<web-app>
    <filter>
        <filter-name>struts2</filter-name>
        <filter-class>
            org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter
        </filter-class>
    </filter>
 
    <filter-mapping>
        <filter-name>struts2</filter-name>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>        
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
 <jsp-config>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/fmt</taglib-uri>
	    <taglib-location>/WEB-INF/fmt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/fmt-rt</taglib-uri>
	    <taglib-location>/WEB-INF/fmt-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/core</taglib-uri>
	    <taglib-location>/WEB-INF/c.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/core-rt</taglib-uri>
	    <taglib-location>/WEB-INF/c-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/sql</taglib-uri>
	    <taglib-location>/WEB-INF/sql.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/sql-rt</taglib-uri>
	    <taglib-location>/WEB-INF/sql-rt.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/x</taglib-uri>
	    <taglib-location>/WEB-INF/x.tld</taglib-location>
	    </taglib>
	    <taglib>
	    <taglib-uri>http://java.sun.com/jstl/x-rt</taglib-uri>
	    <taglib-location>/WEB-INF/x-rt.tld</taglib-location>
	    </taglib>
	    <taglib-uri>/struts-tags</taglib-uri>
		<taglib-location>/WEB-INF/lib/struts2-core-2.2.1.jar</taglib-location>
	    </jsp-config> 
</web-app>